/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove anchor link styles */
a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
/* body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} */
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: smooth;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Mulish", sans-serif;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  color: hsl(239deg, 100%, 11%);
  background-color: hsl(230deg, 23%, 95%);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  padding-block: 1rem;
}

h1 {
  font-size: clamp(2.99rem, 2.75rem + 1.18vw, 3.82rem);
}

h2 {
  font-size: clamp(2.49rem, 2.33rem + 0.81vw, 3.05rem);
}

h3 {
  font-size: clamp(2.07rem, 1.97rem + 0.53vw, 2.44rem);
  text-transform: uppercase;
}

h4 {
  font-size: clamp(1.73rem, 1.66rem + 0.32vw, 1.95rem);
}

h5 {
  font-size: clamp(1.44rem, 1.41rem + 0.18vw, 1.56rem);
  color: hsl(205deg, 38%, 40%);
}

h6 {
  font-size: clamp(1.2rem, 1.19rem + 0.07vw, 1.25rem);
}

a {
  color: hsl(239deg, 100%, 11%);
}
a:hover {
  color: hsl(205deg, 38%, 40%);
}

.btn {
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  border: none;
  color: hsl(230deg, 23%, 95%);
  background-color: hsl(239deg, 100%, 11%);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  background-color: hsl(211deg, 31%, 66%);
}

.btn-lrg {
  padding: 0.375rem 1.25rem;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 900;
}

.icon {
  margin-right: 1rem;
  background-color: hsl(211deg, 31%, 66%);
  border-radius: 2rem;
  fill: hsl(216deg, 44%, 25%);
}
.icon:hover {
  fill: hsl(211deg, 31%, 66%);
  background-color: hsl(216deg, 44%, 25%);
}

.icon-invert {
  background-color: hsl(216deg, 44%, 25%);
  fill: hsl(230deg, 23%, 95%);
}
.icon-invert:hover {
  background-color: hsl(205deg, 38%, 40%);
  fill: hsl(166deg, 73%, 88%);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(230deg, 23%, 95%);
  padding-inline: clamp(1rem, 5%, 9rem);
  position: fixed;
  width: 100%;
  z-index: 1;
  /*   &__logo {
      @media (max-width: 650px) {
        width: 80%;
      }
    } */
}
.nav__link {
  padding: 1rem;
}
.nav__links {
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 650px) {
  .nav__links {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 50%;
    flex-direction: column;
    background-color: hsl(230deg, 23%, 95%);
    transform: translateX(120%);
  }
}
.nav__mobile-links {
  display: none;
}
@media (max-width: 650px) {
  .nav__mobile-links {
    display: block;
  }
}

.nav-active {
  transform: translateX(0);
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30rem;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  padding-inline: clamp(1rem, 5%, 9rem);
}
.main__background, .main__copy {
  position: absolute;
}
.main__background {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateZ(-10px) scale(2.1);
  opacity: 0.4;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: clamp(1rem, 5%, 9rem);
  background-color: hsl(230deg, 23%, 95%);
}
@media (max-width: 725px) {
  .services {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: unset;
  }
}
.services__info, .services__list {
  width: 50%;
  padding: 1rem;
}
@media (max-width: 725px) {
  .services__info, .services__list {
    width: 100%;
  }
}
.services__sub-header {
  color: hsl(205deg, 38%, 40%);
}
.services__list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 400px) {
  .services__list-item {
    flex-direction: column;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: hsl(211deg, 31%, 66%);
  padding-inline: clamp(1rem, 5%, 9rem);
}
@media (max-width: 725px) {
  .about {
    text-align: center;
    height: unset;
  }
}
.about__cadence {
  padding-inline: 1rem;
}
.about__cadence-sub-header {
  color: hsl(205deg, 38%, 40%);
}
.about__owner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 725px) {
  .about__owner {
    flex-direction: column;
  }
}
.about__owner-headshot {
  height: 12rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__owner-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 475px) {
  .about__owner-list-item {
    flex-direction: column;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: clamp(1rem, 5%, 9rem);
}
@media (max-width: 725px) {
  .contact {
    height: unset;
  }
}
.contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-inline: 1rem;
}
.contact__info-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 850px) {
  .contact__info-container {
    flex-direction: column;
  }
}
.contact__form-container {
  padding: 1rem;
  width: 60%;
}
@media (max-width: 850px) {
  .contact__form-container {
    width: 100%;
  }
}
.contact__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background-color: hsl(216deg, 44%, 25%);
  border-radius: 0.5rem;
  padding: 2rem;
}
.contact__form-group label {
  display: block;
  color: hsl(230deg, 23%, 95%);
  margin-bottom: 0.5rem;
}
.contact__form-element {
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 4px;
  width: 100%;
}
.contact__form-element:focus {
  outline: 2px solid hsl(166deg, 73%, 88%);
}
.contact__form textarea {
  resize: none;
  width: 100%;
}
.contact__info {
  padding: 1rem;
}

@media screen and (max-height: 450px) and (orientation: landscape) {
  .services, .about, .contact {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}/*# sourceMappingURL=style.css.map */