---
title: Cadence Tech
layout: "base.njk"
---

<section id="home" class="main">
  <img src="./assets/dataMed.jpg" class="main__background" />
  <div class="main__copy">
    <h1 class="main__title">Complex Supply Chains. Untangled.</h1>
    <h5 class="main__sub-title">
      Cadence helps companies achieve true supply chain optimization.
    </h5>
  </div>
</section>
<section id="services" class="services">
  <div class="services__info">
    <h3 class="services__header">Our services</h3>
    <h5 class="services__sub-header">
      Specializing in SAP business transformations, end-to-end implementations,
      cutting-edge analytics, and application support.
    </h5>
  </div>
  <ul role="list" class="services__list">
    <li class="services__list-item">
      <img class="services__list-image" src="./assets/Globe.svg" />
      <h6 class="services__list-title">SAP Solution Architecture</h6>
    </li>
    <li class="services__list-item">
      <img class="services__list-image" src="/assets/Analytics.svg" />
      <h6 class="services__list-title">Supply Chain Analytics</h6>
    </li>
    <li class="services__list-item">
      <img class="services__list-image" src="/assets/Demand.svg" />
      <h6 class="services__list-title">Demand Planning</h6>
    </li>
    <li class="services__list-item">
      <img class="services__list-image" src="/assets/Supply.svg" />
      <h6 class="services__list-title">Supply Planning</h6>
    </li>
    <li class="services__list-item">
      <img class="services__list-image" src="/assets/Production.svg" />
      <h6 class="services__list-title">Production Planning</h6>
    </li>
    <li class="services__list-item">
      <img class="services__list-image" src="/assets/Sustainment.svg" />
      <h6 class="services__list-title">Sustainment Support</h6>
    </li>
  </ul>
</section>
<section id="about" class="about">
  <div class="about__cadence">
    <h3 class="about__cadence-header">Our Mission</h3>
    <h5 class="about__cadence-sub-header">
      Cadence Technology was founded in 2016 with a mission of solving business
      IT problems and simplifying complex supply chain solutions. The firm's
      goal is to deliver world-class implementations, optimizations, and
      enterprise support for the SAP Business Suite, SCM-APO, Business
      Intelligence, and HANA Analytics applications.
    </h5>
  </div>
  <div class="about__owner">
    <img class="about__owner-headshot" src="./assets/IMG_5840.JPG" alt="Owner Jason Bliss" />
    <ul class="about__owner-contact" role="list">
      <li class="about__owner-list-item">
        <img class="about__owner-list-icon" src="./assets/User.svg" alt="" />
        <p>Jason Bliss, Owner and Principal Consultant</p>
      </li>
      <li class="about__owner-list-item">
        <img class="about__owner-list-icon" src="./assets/Mail.svg" alt="" />
        <p>jbliss@cadence-tech.com</p>
      </li>
      <li class="about__owner-list-item">
        <img class="about__owner-list-icon" src="./assets/Phone.svg" alt="" />
        <p>703-825-3280</p>
      </li>
    </ul>
  </div>
</section>
